<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="assets/images/luggage_logo.png" id="logo" class="suitcase" alt="suitcase" />

        <!-- <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
              </a> -->

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="index.html" class="navbar-item">
                {{!-- Less stress travel experience --}}
            </a>
            <a href="aboutus.html" class="navbar-item">
                {{!-- My Trips --}}
            </a>
            <a href="aboutyou.html" class="navbar-item">
                My Trips
            </a>
            <a href="rescue.html" class="navbar-item">
                Packing List
            </a>
            {{!-- <hr class="navbar-divider"> --}}
            <a href="shelters.html" class="navbar-item">
                Activities
            </a>

            <a href="donate.html" class="navbar-item">
                Departure Countdown
            </a>

        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <button class="button is-info is-outlined">Sign up</button>
                <button class="button is-info is-outlined">Check in</button>
            </div>
        </div>
    </div>
</nav>

{{!-- <section class="sidebar">
    <div id="connect">
        <h2>Get the forecast</h2>
        <a href="https://weather.com/?cm_ven=PS_GGL_Branded_04012019_1&par=MK_GGL&gclid=CjwKCAiAhc7yBRAdEiwAplGxXy36SlNTUO6w639twsfi4FTpR2bNMdQSZq7VYNh8OnHKhirEGKrlVRoCBJIQAvD_BwE"
            target="_blank"><img src="assets/images/weather_sun.png" class="weather" alt="sunshine" /></a>
        <a href="https://weather.com/?cm_ven=PS_GGL_Branded_04012019_1&par=MK_GGL&gclid=CjwKCAiAhc7yBRAdEiwAplGxXy36SlNTUO6w639twsfi4FTpR2bNMdQSZq7VYNh8OnHKhirEGKrlVRoCBJIQAvD_BwE"
            target="_blank"><img src="assets/images/storm.png" class="weather" alt="storm" /></a>

    </div>
</section> --}}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Get Your Trip Together
            </h1>
            {{!-- <h2 class="subtitle">Let's<strong> GO </strong>!</h2> --}}

        </div>
    </div>
</section>




<div id="main-container" class="container-home">
    <section class="main-container">
        <h2 class="subtitle">...for the less-stress travel experience!</h2>
        <div id="home-image">
            <img src="assets/images/happy_traveler.jpg" class="portrait" id="welcome-home" alt="Eiffel Tower" />
        </div>

        <h3 id="about-gytt">How does it work?
            <strong> very simply!</strong>
        </h3>
        <p>Create an account and GYTT will track your trips and everything
            that goes along with it, including a trip-specific packing list
            which you can edit, save and referrence for your next trip.

        </p>
        <br />
        <p>Overwhelmed with sticky notes? Use ours instead! They will
            remain in your account for future use.
        </p>


    </section>
</div>

{{!-- <section class="sidebar">
    <div id="connect">
        <h2>Get the forecast</h2>
        <a href="https://weather.com/?cm_ven=PS_GGL_Branded_04012019_1&par=MK_GGL&gclid=CjwKCAiAhc7yBRAdEiwAplGxXy36SlNTUO6w639twsfi4FTpR2bNMdQSZq7VYNh8OnHKhirEGKrlVRoCBJIQAvD_BwE"
            target="_blank"><img src="assets/images/weather_sun.png" class="weather" alt="sunshine" /></a>
        <a href="https://weather.com/?cm_ven=PS_GGL_Branded_04012019_1&par=MK_GGL&gclid=CjwKCAiAhc7yBRAdEiwAplGxXy36SlNTUO6w639twsfi4FTpR2bNMdQSZq7VYNh8OnHKhirEGKrlVRoCBJIQAvD_BwE"
            target="_blank"><img src="assets/images/storm.png" class="weather" alt="storm" /></a>

    </div>
</section> --}}

<footer class="footer">
    <div class="content has-text-centered">
        <p>"Check-in" with us to receive the latest<strong> promos</strong> and travel swag!</p>

        <div id="connect">
            {{!-- <h6>"Check-in" with us for <strong>promos</strong> and travel swag!</h6> --}}
            <img src="assets/images/pintrest.png" class="social" alt="Facebook icon" />
            <img src="assets/images/fb_logo.png" class="social" alt="Instagram icon" />
            <img src="assets/images/airbnb.png" class="social" alt="Twitter icon" />
            <img src="assets/images/instagram.png" class="social" alt="Pintrest icon" />
            <img src="assets/images/yelp.png" class="social" alt="Pintrest icon" />
        </div>

        <p id="copyright">
            &copy; Copyright 2020 Get Your Trip Together!
        </p>
    </div>
</footer>